<div class="row">
  <div class="col-md-6">
    <h3>Dia 4 de setembro </h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td><a href="https://librarycarpentry.org/lc-git/">Introdução ao Git</a></td> </tr>
      <tr> <td>10:00</td>  <td>Pausa</td> </tr>
      <tr> <td>10:10</td>  <td>Prática: Conectar GitHub e Zenodo para obter um DOI para o código (seguir as instruções do vídeo)</td> </tr>
      <tr> <td>12:00</td>  <td>Pausa</td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://librarycarpentry.org/Top-10-FAIR/">TOP 10 FAIR & Software Things</a></td> </tr>
      <tr> <td>16:00</td>  <td>Pausa</td> </tr>
      <tr> <td>16:10</td>  <td>Prática: Uso do Git, GitHub e os conceitos sobre FAIR para descrever um código aberto</td> </tr>
      <tr> <td>18:00</td>  <td>Fim</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Dia 11 de setembro</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td><a href="https://librarycarpentry.org/lc-python-intro/">Introdução ao Python</a></td> </tr>
      <tr> <td>10:00</td>  <td>Pausa</td> </tr>
      <tr> <td>10:10</td>  <td>Práticas com Python</td> </tr>
      <tr> <td>12:00</td>  <td>Pausa</td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://librarycarpentry.org/lc-python-intro/">Introdução ao Python (Continuação)</a></td> </tr>
      <tr> <td>16:00</td>  <td>Práticas com Python</td> </tr>
      <tr> <td>18:00</td>  <td>Fim</td> </tr>
    </table>
  </div>
</div>
