
<div id="git-setup"> {% comment %} Start of 'Git' section. GitHub browser compatibility
  is given at https://help.github.com/articles/supported-browsers/{% endcomment %}
  <h3>Git</h3>
  <p>
    Git é um sistema de controle de versão que permite rastrear quem fez mudanças em quê, quando, e tem opções para atualizar facilmente uma versão compartilhada ou pública de seu código
    on <a href="https://github.com/">https://github.com</a>.
  </p>
  <p>
    Siga as instruções na <a href="https://librarycarpentry.org/lc-git/setup.html">lição</a> para instalar Git no seu sistema.
  </p>
  <p>
    Precisará de uma conta no <a href="https://github.com/">github.com</a> 
    para partes da lição de Git. As contas básicas de GitHub são gratuitas. Aconselhamos a criar uma conta GitHub se você ainda não tiver uma.
    Por favor, considere as informações pessoais que você gostaria de revelar. Por exemplo, você pode rever estas <a href="https://help.github.com/articles/keeping-your-email-address-private/">instruções 
    para manter seu endereço de e-mail privado fornecido no GitHub. Você precisará de <a href="https://help.github.com/articles/supported-browsers/">um navegador web compatível.
  </p>
</div>
